.FetchingLoader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10000;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FetchingLoader img {
  width: 70%;
}
