.Navbar {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 5rem;
  background-color: var(--white);
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 60%;
}

.navlink {
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
}
