.CarSelection {
  padding: 3rem 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.dropdowns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.startBtn {
  background-color: var(--primary);
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  width: 70%;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 2px;
  outline: none;
}

.startBtn.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.startBtn:not(.disabled):hover {
  opacity: 0.9;
}
